body{
color:bisque;
background:white;
}
header{
    border-bottom:solid 2px rgb(rgba(220, 132, 247, 0.689)) ;
    padding: 20px;
font-size: 32px;
color: blueviolet;
background: rgb(120, 186, 243)
}
.chamada {
    background: purple;
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin: right 5%;
}